use this ajax library :-
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

Create snippets and call in blog page for sidebar
{%include 'blog-ajax-filter' %} 

call this script in blog page 

  <script>
  $(function() { 
    var  activeType =  $('.advanced-filter12[data-group="news"]').data('handle');
	//alert(activeType);
   $(document).on('click', '.advanced-filter12', function(e){
     e.preventDefault();
     el = $(this);
     activeType = el.data('handle');
  //  alert(activeType);
     filter_data(); 
   });
  
     /* all result show */
     $(document).on('click', '.button', function(e){
     e.preventDefault();
     activeType = '';
  //  alert(activeType);
     filter_data(); 
   });

     
     function filter_data(){
      var base_url = window.location.origin+'/blogs/news/';
      var slug = '';
       if(activeType){
         slug += activeType;   
       }
     var get_url = base_url+slug;
    // alert(get_url)
      $('.blog-right').html('<div class="_jsLoaderDiv"><img class="_jsLoader" src="https://cdn.shopify.com/s/files/1/2358/5863/t/5/assets/loading.gif" ></div>');
      $.get(get_url, function(data){
	    $content =  $(data).find('.main-content').html();
       // alert($content);
        $('.main-content').html($content);
        history.pushState('', '', get_url);
      });
   }  
   });

    </script>
